<div class = "col-xs-12" style="color: rgb(0, 0, 0); margin-top: 10px;" align = "center"><h4><strong>TRAVEL DETAILS: </strong></h4></div>
        <div class="pad-2 col-xs-12">
            <div class="pad-0 col-xs-12 card mar-top-20" style="margin-bottom: 25px;">
                <label class="col-xs-12" style="background-color: #213d77; color:white;">
                    <div class = "col-xs-6" align = "left"><h4 id="trainDetailsDest"><strong>PRAYAGRAJ EXP(12418)</strong></h4></div>
                    <div class = "col-xs-6" align = "right"><h4 id="trainDetailsPNR" ><strong>PNR: 2752032177</strong></h4></div>
                </label>
                <div class = "col-xs-12 pad-top-15 cardContents pad-bottom-30">
                    <div class = "col-xs-6 trainDetails"><span class="pull-left">16:50 | NEW DELHI<br><span class="text-center" style="display: block;">Tue, 7th Jan</span></span></div>
                    <div class = "col-xs-6 trainDetails"><span class="pull-right">3:55 | PRAYAGRAJ<br><span class="text-center" style="display: block;">Wed, 8th Jan</span></span></div>
                    <div class = "col-xs-12 trainDetails" align = "center" style="bottom: 22px;">-----11:05-----</div> 
                    <div class = "col-xs-12 trainDetails pad-top-15"align="center">3 Adult(s) | Sleeper(SL) | General(GN) | Boarding at New Delhi | Boarding Date: 7th Jan 2024 16:50</div>
                </div>
            </div>     
        </div>