<div class="pad-0 col-xs-12 parent form-group">
    <div class="pad-2 col-xs-12 col-sm-6 col-md-5">
        <div class="pad-0 col-xs-12 card">
            <label class="col-xs-12" style="background-color: #213d77; color:white;">
                <h4><strong>COUNTER TICKET</strong></h4>
            </label>
            <form>
                <div class = "cardContents pad-top-15">

                    <div class="pad-3 col-xs-12 form-group">
                        <label for="Type" class="pad-0 col-xs-12 col-sm-4 pad-top-5">Transaction Type :</label>
                        <label class="pad-0 col-xs-12 col-sm-8 pad-top-5 details" align = "center"> {{ display.selectedOperation }}</label>
                    </div>
                    
                    <div class="col-xs-12 form-group">
                        <label for="PNR" class="pad-0 col-xs-12 col-sm-4 pad-top-5">PNR :</label>
                        <label class="pad-0 col-xs-12 col-sm-8 pad-top-5 details" align = "center">{{ display.pnr }}</label>
                    </div>

                    <div class="col-xs-12 form-group">
                        <label for="Train" class="pad-0 col-xs-12 col-sm-4 pad-top-5">Train Number :</label>
                        <label class="pad-0 col-xs-12 col-sm-8 pad-top-5 details" align = "center">{{ display.trainNo }}</label>
                    </div>
                    <div class="col-xs-12 form-group">
                        <label for="OTP" class="pad-0 col-xs-4 col-sm-4 pad-top-5">Enter OTP :</label>
                        <div class="pad-0 col-xs-12 col-sm-8">
                            <input class = "col-xs-5" type="text" id="EnterOTP" name="EnterOTP" maxlength="5">
                            <button class="button3 pad-0 col-xs-6 col-xs-push-2" align="right" style="margin-top: 7px;"type="button" (click)= "ResendOTP()">Resend OTP</button>
                        </div> 
                    </div>
                    <div class="col-xs-6" style="padding-bottom: 15px;">
                        <label class="ResendOTP">OTP sent on XXXXX28887</label>
                    </div>
                        
                </div>
                <div class="buttonblock col-xs-12 form-group">
                    <button class = "button1" type="submit" (click)= "goToNext()">Submit</button>
                    <button class = "button2" type="back"(click)= "Back()">Back</button>
                </div>
            </form> 
            <p-toast></p-toast>
        </div>
        
    </div>
    <div class="pad-2 col-xs-12 col-sm-6 col-md-7 sample">
        <div class="pad-0 col-xs-12 pad-top-15 card">
            <img src="./assets/images/TICKET_INFORMATION2.jpg.png" alt="HTML5 Icon">
        </div>
    </div>
</div>
<ng-container *ngIf="display.selectedOperation === 'Cancellation'">
    <app-procedure></app-procedure>
</ng-container>
<ng-container *ngIf="display.selectedOperation === 'Boarding Point Change'">
    <app-bprocedure></app-bprocedure>
</ng-container>