<div class="col-xs-12 para">
    <div class="col-xs-12 col-sm-6 parabox">
        <p><strong>Boarding Point Change Procedure :</strong></p>
        <ol class = "pad-0">
            <li>Select the Transaction Type option as ‘Boarding Point Change’.</li>
            <li>Enter PNR Number and Train number along with Captcha.</li>
            <li>Select check box to confirm that rules and procedure are read.</li>
            <li>After click on submit an OTP will be sent on mobile number given at the time of booking, enter the received OTP and click submit.</li>
            <li>After the OTP is validated, PNR details will be displayed on the screen.</li>
            <li>After verifying the details on the screen, select the New Boarding Station from Boarding Point list and then click Submit.
            <li>PNR Details with New Boarding Point will be displayed on the screen.</li>
        </ol>
    </div>
    <div class="col-xs-12 col-sm-6 parabox">
        <p><strong>Boarding Point Change Rules :</strong></p>
        <ol class = "pad-0">
            <li>This may be applicable only in case valid mobile number has been given at the time of booking.</li>
            <li>Boarding point change of counter ticket would be allowed till charting.</li>
            <li>Boarding point change of I-ticket is allowed only after it is printed.</li>
            <li>In case the boarding station is changed within 24 hours of departure of train, no refund shall be permissible in normal circumstance; however, in exceptional circumstances like cancellation of train, non-attachment of coach, late running of train by more than three hours, normal refund rules shall be applicable.</li>
            <li>If boarding station has been changed at the time of booking, then passengers can change boarding station one more time.</li>
            <li>In case a passenger has changed the boarding station, he/she will lose all the rights to board the train from the original boarding station. If found travelling without any proper authority to travel, passenger will have to pay fare with penalty between original boarding station to changed boarding station.</li>
            <li>If NOSB booking has been done, then boarding point change of counter ticket would not be allowed through this functionality. User should visit nearest railway counter.</li>
        </ol>
    </div>
</div>


